.details-container {
    width:70%;
    margin: 0 auto;
    background-color: white;
    /* height: 60vh; */
    /* height: 90%; */
    max-height: 70%;
 
}

#book-img-details {
    height:50vh; 
    margin: 20px 10px 0px 10px;
    /* padding-bottom: 50px; */
    
}

.rate-paragraph {
    margin-left:30px;
    
}

#comment-div {
	margin-top:70px;
	background-color: #cff6fb;
	
	
}

#comment-desc {
	word-break: break-word;
	width:100%;
}

#add-comment {
	padding-top:40px;
	margin:20px;
	margin-bottom:40px;
}

#all-comments {
	background-color : #cff6fb;
}

#book-img-container {
    float:left;
    /* margin-top:20px; */
    /* width:30% */
    margin-left:20px;
    /* margin-top:5px; */
    padding-top:5px;
}

#about-book-container {
    margin-top:20px;
    padding-left:15px;
    margin-right: 50px;
    overflow: hidden;
    padding-bottom:40px;
    /* background-color:white; */
    /* width:70%; */
    /* background-color: teal; */
  
}

#p-about {
    padding-left: 30px;
    padding-right:30px;
    /* padding-top:20px; */
    background-color: white;
    padding-bottom: 20px;
    text-align:justify;
}

#book-details-table {
    display: inline;
}

.buttons-to-left {
     padding-bottom: 10px;
    padding-top: 10px;
   /* float: right;
    margin: 10px 10px 0px 10px; */
    position: absolute;
    bottom: 30%;
    left:40%;
}

#add-to-wishlist {

}

#add-to-cart {
 
}

#change-book-info {
   
}

#delete {
    
}

#button-margin-right{ 
    margin-right: 6vh;
}

footer {
    position: absolute;
    
}

.stars-container {
    display:flex;
    /* align-items:center; */
    justify-content:center; 
    flex-direction:column;
    float:left;
    margin-left: 40px;
}



.stars-container .star-widget input{
    display: none;
}

.stars-rated-container .star-rated-widget input{
    display: none;
}

.rate-btn {
    /* float:right; */
    margin-left:30px;
}

.star-widget label {
    color: #cfc7c6; 
    padding:10px;
    float:right;
    transition: all 0.2s ease;
    
}

.star-rated-widget label {
    color: #cfc7c6; 
    padding:10px;
    /* float:right; */
    /* /transition: all 0.2s ease; */
    
}

#rated1star, #rated2star, #rated3star, #rated4star, #rated5star {
    color: #fd4;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
    

}


/* da kada se klikne na zvezdicu ostane tako  */
.star-widget input:checked ~ label {
    color: #ffcc00;
}

input#rate-5:checked ~ label {
   color: #ffcc00;
    text-shadow: 0 0 20px #444;
}

#rate-5:hover {

}

.button-shape {
    width:120px;
    height:40px;
}

#div-for-options {
    margin-bottom:30px;
}

@media screen and (max-width: 800px) {
    .details-container {
        margin-left: 0;
        margin-right:0;
        width: 100%;
        height: 90vh;
    }

    footer {
        display:none;
    }
    .stars-container {
        margin-bottom: 30px;
    }
    

    /* #book-img-details {
        height:50vh; 
        margin: 20px 10px 0px 10px;
        padding-bottom: 70px;
    } */
}



#options-table{
    margin-right: 30px;
    float:right;
}

@media screen and (max-width: 1300px) {
    #p-about {
        margin-top:70px;
    }

    #options-table {
        left: 5%;
        top:73%;
    }
}

@media screen and (max-width: 1000px) {
    #about-book-container { 
        margin-right: 0;
    }

    .rate-paragraph {
        margin-top:30px;
        margin-left:30px;
    }

    
}


@media screen and (max-width: 600px) {
  
    #options-table {
        float:none;
        
    }

   #div-for-options {
     margin-left:20px;

   }


    #about-book-container {
    width: 90%;
    
    display: block; /* Stops it from floating */
    margin: auto; /* Ensures that it is centered */
    margin-bottom: 25px; /* Space between the stacked elements */
      
    }
    #button-margin-right{ 
        margin-right: 0;
    }


    #book-img-container {
        width: 90%;
        display: block; /* Stops it from floating */
        margin: auto; /* Ensures that it is centered */
        margin-bottom: 25px; /* Space between the stacked elements */
          
        }
body {
    background-color: white;
}

    #book-img-container{
        /* display:none; */
        /* visibility:hidden; */

        background-color:white;
        margin: 0;
        text-align:center;
        padding:0;
    
    }

    .details-container {
        margin-left: 0;
        margin-right:0;
        width: 100%;
        height: 90vh;
    }
}

@media screen and (max-height: 900px) {
    footer {
        display:none;
    }
}

@media screen and (max-width: 800px) {
    .buttons-to-left {
       
        
    }

    #add-to-cart {
        
    }

    #add-to-wishlist {
       
    }
    
    #change-book-info {
      
    }

    #delete {
    
    }

    #rate-paragraph {
        margin-top:80px;
    }
}
