
.info-container {
    padding: 50px;
    padding-top: 10px;
    margin: 0 auto;
    width:70%;
    background-color:white;
    
}

td {
    vertical-align:top;
  
}

.inline {
	display: inline-block;
}

table {
	width:75%;
}



.change-book-table tr {
    margin-right: 30px;
    margin-left:10px;
}

.medium-input {
   width:100%;
    height: 10%;
     border: 1px solid #999999;
      padding: 5px; 
}
.large-input {
    width: 100%; 
    height: 100px;
     border: 1px solid #999999;
      padding: 5px;
}

#submit-changes {
  position: absolute;
  bottom: 5%;
  right: 20%;
    
}


@media screen and (max-width: 1200px) {
    #info-container {
  /* padding: 5px; */
        width:90%;
    }
}

@media screen and (max-width: 800px) {
    #info-container {
        padding: 5px;
        padding-top:20px;
        width:90%;
    }
}

@media screen and (max-height: 700px) {
    footer {
        display:none;
    }
}