body {
    background-color: #cff6fb;

    
}

.search {
    margin-left:5%;
    display:inline-block;
    
}

a {
    color: #0060B6;
    text-decoration: none;
}

button a {
	color: white;
	text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.display {
	display: block;
}

#regSuccess {
	text-align: center;
	margin: 0 auto;
}

.sort {
	margin-right: 350px;
    display:inline-block;
	float: right;
}



.inline {
    display: inline-block;
}

.priceBoxes {
    width: 60px;
}





.searchBooks {
    margin-left: 270px;
}

#addNewBook {
	margin-top: 120px;
	margin-left: 370px;
}

.navbar-custom { 
    background-color: #fc653f; 
    color: #b6d7de;
    padding: 0.3rem 1rem;
    top: 0;
    position: sticky;
    z-index: 500;
    
} 

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }


.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: #2876b0;
} 

.nav-link {
    font-size: 1.2rem;
    color: #2876b0;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

.dropdown-custom {
    padding-left: 20px;
}

#book-picture {
    max-width:80%;
    height:91vh;
    display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  margin-bottom: 0;
}

.header-container {
    background-color: #cff6fb;
}

.img-container {
    position: relative;
    text-align:center; 
    padding: 0;
    margin-bottom: 0;
   
    
    
}

.img-text-container {
    
    margin-left: auto;
    margin-right: auto;
     position: absolute;
  top: 33%;
  left: 50%; 
   transform: translate(-50%, -50%); 

   
  
}

.img-text-container p {
    font-family: 'Signika', sans-serif;
    font-size: 3rem;
}
.btn-custom {
    margin: 10px;
    background-color: #fc653f;
    
}

.btn-custom:hover {
        background-color: #bf4e32
}

.img-button-container {
    position: absolute;
    float: right;
    margin-right: 10%;
    
}

#library-heading {
    font-family: 'Signika', sans-serif;
    font-size: 3rem;
    margin-left: 8%;
  
    
    
    

}



.content-container {
    background-color:#9ed9c2;
    padding-top:2%;
    padding-bottom:30px;
}

.books-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    
}

.row{
    width:100%;
    
}

    .product-card {
        margin:20px;
        width: 400px;
        height: 350px;
        
        
    }
    
    .lib-panel .row,
    .lib-panel .col-md-6 {
        padding: 0;
        background-color: #FFFFFF;
    }
    
    
    
    
    .lib-panel .lib-row.lib-header {
        background-color: #FFFFFF;
        font-size: 20px;
        padding-top:20px;
        padding-left:10px;
    }
    
 
    
    .lib-panel .lib-row.lib-desc {
        height: 100%;
        display: flex;
        flex-flow: column;
        font-size: 13px;
        padding-top:4px;
        padding-left:10px;
        padding-right:10px;
    }
 

    footer {
        background-color: #194769;
        width:100%;
        /* margin: 0;
        padding: 0; */
        text-align: center;
        /* margin-top:10px; */
   
        
    }

    footer p {
        margin: 0;
        padding:15px;
        color: #c3efde;
    }

  
      .btn-buy {
          margin-top: 10px;
          float:right;
      }

      .flex-container {
        display: flex;

      }

      .buttons-container {
            width:100%;
            height: 100px;
            display: flex;
            flex-flow:wrap;
            flex-direction: column;
             align-items: flex-end; 
            justify-content:flex-end; 
            flex-grow:1;
            /* margin-bottom:15px; */
            
      }

      .btn-read {
        display: flex;

        margin: 5px 5px 0 5px;

      }

      .btn-buy {
        display: flex;
        margin: 5px 5px 100px 5px;
        
      }
  
  

      #login-button {
          
           margin-top: 10px;
          margin-left: 65%;
        
      }

      #close-login {
          margin-top:10px;
         
      }

      tr {
          margin: 10px;
      }
      td {
        margin: 6px 6px 6px 6px;
        padding: 1px 6px 6px 6px;
      }
      table {
        border-spacing: 10px;
      }

      .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 25px;
        
      }

     
      .lib-img-show {
        height: 350px;
        width: 200px;
      }

      
      #users-footer {
        position:absolute; 
        margin-top:4%;
        
      }

      /* .rating-star {
        filter: grayscale(100%);
        opacity: .3;
      }

      .rating-star:hover {
        filter:none;
        opacity:unset;
      } */


      .rating {
          margin-top:20px;
      }

      .btn-test {
        position: absolute; 
        bottom:15px;
        right: 10px;
    }
    
    .btn-wishlist {
        position: absolute; 
        right: 10px;
        bottom:55px;
    }

    .stars-rated-container .star-rated-widget input{
        display: none;
    }


    .star-rated-widget label { 
        padding:4px;
        
        
    }

    #rated1star, #rated2star, #rated3star, #rated4star, #rated5star {
        color: #fd4;
    }




      @media only screen and (max-width: 900px) {
        

   
        .btn-test {
            /* right:150px; */
            /* margin-left:160px; */
            /* margin-bottom:20px; */
            bottom: 30px;
            right: 20px;
        }

        .btn-wishlist {
            /* margin-left: 260px; */
            bottom: 80px;
            right: 20px;
            
        }
        

        #price {
            display:inline-block;
        }

        .rating {
            margin-top:0px;
            display:inline-block;
        }

        .buttons-container {
            flex-direction: row;
            height:20px;
           
      
      }

        
        .book-img-container {
            margin: auto; 
        }
    
       
    
        .flex-item {
            padding: 20px;
            margin: 0 auto;
            width: 70%;
            height: 400px;
        }

        .btn-read {
            margin-bottom:100px;
            margin-top: 0px;
            
        }
    
        .btn-buy {
            margin-bottom:100px;
            margin-top: 0px;
            
        }

         #cart-footer {
            display:none;
        } 

      
    }

      @media only screen and (max-width: 550px) {
        
        .btn-test {
            right:150px;
            /* margin-left:160px; */
            /* margin-bottom:20px; */
        }

        .btn-wishlist {
            margin-left: 250px;
            bottom: 30px;
            
        }

        .lib-desc {
            padding-bottom:40px;
        }

        .flex-item {
            height: 600px;
        }

        #price {
            
        }

        .rating {
            margin-top:0px;
            
        }

        .btn-read {
            margin-bottom:65px;
            
        }
        
        
        .btn-buy {
            margin-bottom:65px;
        }

        .buttons-container {
            
            display: flex;
            flex-direction: row;
           
            
      }
    
        .book-img-container {
            margin: auto; 
            padding-top: 20px;
        }
    
        .lib-panel img {
            text-align: center;
       
        }
    
        .flex-item {
            margin: 0 auto;
            width: 90%;
            height: 600px;
           
        }
    
       
    }

    @media only screen and (min-width: 550px) and (max-width:760px) {

        .btn-test {
            margin-left:200px;
        }

        .btn-wishlist {
            margin-left: 200px;
        }

        .lib-desc {
            padding-bottom:40px;
        }
        .flex-item {
            height: 620px;
        }

        .buttons-container {
            flex-direction: row;
           
            
      }
      .btn-read {
        margin-bottom:65px;
        
    }

    .book-img-container {
        padding-top:10px;
    }
    
    
    .btn-buy {
        margin-bottom:65px;
    }

    }
    
   

    

    #total-price {
        /* float:right; */
        margin-left: 10%;
            margin-top:20px;
            /* margin-bottom:30px; */
    }

    .btn-buy-books {
        float: right;
        margin-right: 10%;
        /* margin-top:20px; */
        margin-bottom:30px;
    }
    

    .rating {
        margin-top:0px;
        
    }


