#user-container {
    width: 50%;
    height:55vh;
    background-color: white;
    margin:0 auto;
    /* height: 91vh; */
    margin-top:20px;
    padding-left:20px;
    padding-top:20px;
}

#user-picture-container{ 
    float: left;
    /* display:inline; */
    padding-right:20px;
}

.user-details-container{
    padding-top:20px;
    overflow: hidden;
    padding-left:30px;
}

.book-details-table {
    padding-bottom:50px;
}

#change-button {
    margin-top: 20px;
    margin-left:35px;
    margin-bottom:20px;
}

#all-users-button {
   
}

footer {
    position:absolute;
    bottom:0;
}



@media screen and (max-width: 1200px) {
    #user-container {
        width: 90%;
    }

    

    
}

@media screen and (max-width: 700px) {
    #user-picture-container  {
        /* width: 90%; */
        display:block;
        margin: 0 auto; /* Ensures that it is centered */
    margin-bottom: 25px;
        text-align:center;
        float:none;
        
    }


   
    .user-details-container {
        display:block;
        margin:auto;
        clear: both;
        float:none;
        margin:0 auto;
        padding-left:0;
    }

    .user-details-container h1 {
        text-align:center;
    }


   .user-details-container table {
        margin: 0 auto;
    }

    #user-container { 
        margin: 0 auto;

    }

}

@media screen and (min-width: 700px) and (max-width: 810px) {

    #change-button {
        margin-left:50px;


    }

  

}

@media screen and (min-width: 1200px) and (max-width: 1450px) {

    #change-button {
        margin-left:30px;

    }
}