<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Livret</title>
    <link href="images/book.ico" rel="icon" type="image/x-icon" />
	<base href="/LaLivret/">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffcf698e97.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css"></script>
    <link rel="stylesheet" href="css/change-style.css"></script>

<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/location.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>  

</head>
<body>

    <nav  id = "navbar-top"class="navbar navbar-expand-lg navbar-light navbar-custom ">
        <a class="navbar-brand" id = "logo" href="/LaLivret/">La Livret</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
        


          </ul>

          <ul class="navbar-nav ml-auto">

             <li  th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Users/CurrentUserDetails" id="user-icon"><i class="fas fa-user"></i></a>
            </li>

            <li th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Cart" id="cart-icon"><i class="fas fa-shopping-cart"></i></a>
            </li>
	
			<li th:if="${session.currentUser != null}" class="nav-item">
              <a th:text="#{books.logout}" class="nav-link login"  href="/LaLivret/Users/Logout">Logout</a>
            </li>

            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.login}" class="nav-link login" href="#" id="login">Login</a>

            </li>
            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.register}" class="nav-link register" href="/LaLivret/Users/Register" id="register">Register</a>
            </li>
            
            <li>
            
            	<div style="margin-top:10px;">
		
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
            </li>

          </ul>

        </div>
      </nav>
      
      

      <div class="info-container">
      
      <div id="validation1" th:if="${book != null}">


	<div class="picture-container" style="width:200px; height:300px; float:left; background-color: red; margin-right:30px;">
	<img src="images/missingbook.png" style="width:200px; height:300px;">
	 <form method="post" action="/LaLivret/AddBook" enctype="multipart/form-data" th:object="${book}">
      	<input type="file"  accept="image/gif, image/jpeg, image/png" name="image" id="image" >
      	<p><label for="image" style="cursor: pointer;" th:text="#{addb.upload}">Upload Image</label></p>
      	<p th:if="${#fields.hasErrors('picturePath')}" th:errors="*{picturePath}">Image error </p>

      	
      </div>
		
          <table class="change-book-table" id="bookForChange" >
            <tr>
                <td th:text="#{addb.title}">Title: </td>
                <td><input id="txtName" type="text" name="title" class="medium-input" :value="name" th:field="*{book.title}"/></td>
                <td th:if="${#fields.hasErrors('book.title')}" th:errors="*{book.title}" class="error-td">Name Error</td>
              </tr>

            <tr>
              <td>ISBN: </td>
              <td><input id="txtIsbn" type="number" name="ISBN" class="medium-input" :value="ISBN" th:field="*{book.ISBN}"/></td>
              <td th:if="${#fields.hasErrors('book.ISBN')}" th:errors="*{book.ISBN}" class="error-td">ISBN Error</td>
            </tr>
            <tr>
              <td th:text="#{addb.publisher}">Publisher:</td>
              <td><input id="txtPublisher" type="text" name="publisher" class="medium-input" :value="publisher" th:field="*{book.publisher}"/></td>
              <td th:if="${#fields.hasErrors('book.publisher')}" th:errors="*{book.publisher}" class="error-td">Publisher Error</td>	
            </tr>
            <tr>
                <td th:text="#{addb.author}">Author: </td>
                <td><input id="txtAuthor" type="text" name="author" class="medium-input" :value="author" th:field="*{book.author}"/></td>
              	<td th:if="${#fields.hasErrors('book.author')}" th:errors="*{book.author}" class="error-td">Author Error</td>
              </tr>
            <tr>
              <td th:text="#{addb.published}">Published: </td>
              <td><input id="txtPublishYear" type="number" name="publishYear" class="medium-input" :value="publishYear" th:field="*{book.publishYear}"/></td>
              <td th:if="${#fields.hasErrors('book.publishYear')}" th:errors="*{book.publishYear}" class="error-td">Publish year Error</td>	
            </tr>
            <tr>
                <td th:text="#{addb.about}">About: </td>
                <td><textarea id="txtDescription" type="text"name="description" class="large-input" :value="description" th:field="*{book.description}"></textarea></td>
              	<td th:if="${#fields.hasErrors('book.description')}" th:errors="*{book.description}" class="error-td">Description Error</td>
             </tr>
              <tr>
                <td th:text="#{addb.price}">Price: </td>
                <td><input id="txtPrice" type="number" name="price" class="medium-input" :value="price" th:field="*{book.price}"/></td>
                 <td th:if="${#fields.hasErrors('book.price')}" th:errors="*{book.price}" class="error-td">Price Error</td> 
              </tr>
            <tr>
            
            
              <td th:text="#{addb.pages}">Pages: </td>
              <td><input id="txtPages" type="number" name="numberOfPages" class="medium-input" :value="pages" th:field="*{book.numberOfPages}"/></td>
               <td th:if="${#fields.hasErrors('book.numberOfPages')}" th:errors="*{book.numberOfPages}" class="error-td">Pages Error</td> 
            </tr>
            <tr>
              <td th:text="#{addb.cover}">Cover: </td>
              <td>
                    <select name="cover" id="cover" :value="cover">
                    <option value="hardcover" th:text="#{addb.hardcover}">hardcover</option>
                    <option value="paperback" th:text="#{addb.paperback}">paperback</option>
            </select>
        </td>
            </tr>
            <tr>
              <td th:text="#{addb.writing}">Writing: </td>
              <td>
             	 <select name="writing" id="writing" :value="writing">
                    <option value="latin" th:text="#{addb.latin}">latin</option>
                    <option value="cyrilic" th:text="#{addb.cyrilic}">cyrilic</option>
                  </select>
                  </td>

            </tr>
            <tr>
              <td th:text="#{addb.language}">Language: </td>
              <td><input id="txtLanguage" type="text" name="language" class="medium-input" :value="language" th:field="*{book.language}"/></td>
           	  <td th:if="${#fields.hasErrors('book.language')}" th:errors="*{book.language}" class="error-td">Language Error</td>
            </tr>
            
            
            <tr>
              <td th:text="#{addb.booksLeft}">Number of books in stock: </td>
              <td><input id="txtBooksLeft" type="number" name="booksLeft" class="medium-input" :value="booksLeft" th:field="*{book.booksLeft}"/></td>
           	  <td th:if="${#fields.hasErrors('book.booksLeft')}" th:errors="*{book.booksLeft}" class="error-td">Books Left Error</td>
            </tr>
           
            <tr>
            <td th:text="#{addb.genres}">Genres: </td>
             <td>
            <th:block th:each="itGenre: ${genres}">
           
							<input type="checkbox" name="genreId" th:value="${itGenre.ID}" class="inline"><span th:text="${itGenre.name}"></span><br>
						</th:block>
						</td>
						
						</tr>




          </table>
          <input type="submit" th:value="#{addb.submit}" id="submit-changes" class=" btn  btn-danger" />

		</div>



<div id="validation2" th:if="${book == null}">


	<div class="picture-container" style="width:200px; height:300px; float:left; background-color: red; margin-right:30px;">
		<img src="images/missingbook.png" style="width:200px; height:300px;">
	 <form method="post" action="/LaLivret/AddBook" enctype="multipart/form-data" >
      	<input type="file"  accept="image/gif, image/jpeg, image/png" name="image"  id="image" style="display:none;">
      	<p><label for="image" style="cursor: pointer;" th:text="#{addb.upload}">Upload Image</label></p>

      	
      </div>
		
          <table class="change-book-table" id="bookForChange" >
            <tr>
                <td th:text="#{addb.title}">Title: </td>
                <td><input id="txtName" type="text" name="title" class="medium-input" :value="name" /></td>
               
              </tr>

            <tr>
              <td>ISBN: </td>
              <td><input id="txtIsbn" type="number" name="ISBN" class="medium-input" :value="ISBN"/></td>
            </tr>
            <tr>
              <td th:text="#{addb.publisher}">Publisher:</td>
              <td><input id="txtPublisher" type="text" name="publisher" class="medium-input" :value="publisher"/></td>
            </tr>
            <tr>
                <td th:text="#{addb.author}">Author: </td>
                <td><input id="txtAuthor" type="text" name="author" class="medium-input" :value="author"/></td>
              </tr>
            <tr>
              <td th:text="#{addb.published}">Published: </td>
              <td><input id="txtPublishYear" type="number" name="publishYear" class="medium-input" :value="publishYear" th:value="0"/></td>
            </tr>
            <tr>
                <td th:text="#{addb.about}">About: </td>
                <td><textarea id="txtDescription" type="text"name="description" class="large-input" :value="description"></textarea></td>
              </tr>
              <tr>
                <td th:text="#{addb.price}">Price: </td>   <!--  th:value="0" -->
                <td><input id="txtPrice" type="number" name="price" class="medium-input" :value="price" th:value="0" /></td>
              </tr>
            <tr>
            
            
              <td th:text="#{addb.pages}">Pages: </td>   <!--  th:value="0" -->
              <td><input id="txtPages" type="number" name="numberOfPages" class="medium-input" :value="pages" th:value="0"/></td>
            </tr>
            <tr>
              <td>Cover: </td>
              <td>
                    <select name="cover" id="cover" :value="cover">
                    <option value="hardcover" th:text="#{addb.hardcover}">hardcover</option>
                    <option value="paperback" th:text="#{addb.paperback}">paperback</option>
            </select>
        </td>
            </tr>
            <tr>
              <td th:text="#{addb.writing}">Writing: </td>
              <td>
              <select name="writing" id="writing" :value="writing">
                    <option value="latin" th:text="#{addb.latin}">latin</option>
                    <option value="cyrilic" th:text="#{addb.cyrilic}">cyrilic</option>
                  </select>
               </td>
            </tr>
            <tr>
              <td th:text="#{addb.language}">Language: </td>
              <td><input id="txtLanguage" type="text" name="language" class="medium-input" :value="language"/></td>
            </tr>
            
              <tr>
              <td th:text="#{addb.booksLeft}">Number of books in stock: </td>
              <td><input id="txtBooksLeft" type="number" name="booksLeft" class="medium-input" :value="booksLeft" th:value="0"/></td>
            </tr>
           
            <tr>
            <td th:text="#{addb.genres}">Genres: </td>
             <td>
            <th:block th:each="itGenre: ${genres}">
           
							<input type="checkbox" name="genreId" th:value="${itGenre.ID}" class="inline"><span th:text="${itGenre.name}"></span><br>
						</th:block>

  			
  			</td>
  			</tr>




          </table>
          <input type="submit" th:value="#{addb.submit}" id="submit-changes" class=" btn  btn-danger" />

		</div>

      </div>




      <div class="modal" tabindex="-1" role="dialog" id="loginModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
     
              <form action="https://la-livret-default-rtdb.firebaseio.com/korisnici.json" method="get" id="loginForm">
      
                  Username: &nbsp; <input type="text" id="txtUsername"  placeholder="Enter Username" name="username"/> <br/>
                  <br/>
                  Password:&nbsp; <input id="txtPassword" type="password" name="password" placeholder="Enter Password" style="margin-left:9px"/> <br/>
                  <input type="submit" value="Log in" id="login-button" class=" btn btn-primary" />
                  <button type="button" class="btn cls btn-secondary " id="close-login" data-dismiss="modal">Close</button>
                </form>
      
      
            </div>
          
          </div>
        </div>
      </div>
      
      
      <div class="modal" tabindex="-1" role="dialog" id="registerModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Register</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="https://la-livret-default-rtdb.firebaseio.com/korisnici.json" method="get" id="registerForm">
      
                <table>
                  <tr>
                    <td>Username: </td>
                    <td><input id="txtUsernameR" placeholder="Enter username" type="text" name="username"/></td>
                  </tr>
                  <tr>
                    <td>Password: </td>
                    <td><input id="txtPasswordR" placeholder="Enter password" type="password" name="password"></td>
                  </tr>
      
                  <tr>
                    <td>Confirm password: </td>
                    <td><input id="txtConfirmPasswordR" placeholder="Confirm password" type="password" name="confirm"></td>
                  </tr>
                  <tr>
                    <td>Email: </td>
                    <td><input id="txtEmailR" type="text" placeholder="Enter your email" name="email"/></td>
                  </tr>
                  <tr>
                    <td>Name: </td>
                    <td><input id="txtNameR" type="text" placeholder="Enter your name" name="name"/></td>
                  </tr>
                  <tr>
                    <td>Surname: </td>
                    <td><input id="txtSurnameR" type="text" placeholder="Enter your surname" name="surname"/></td>
                  </tr>
                  <tr>
                    <td>Date of birth: </td>
                    <td><input style="width:100%;" id="txtBirthDateR" type="date"  name="birthDate"/> </td>
                  </tr>
                  <tr>
                    <td>Address: </td>
                    <td><input id="txtAddressR" type="text" placeholder="Enter your address" name="address"/></td>
                  </tr>
                  <tr>
                    <td>Contact: </td>
                    <td><input id="txtContactR" type="text" placeholder="Enter contact info" name="contact"/></td>
                  </tr>
      
                </table>
                <input type="submit" value="Register" id="login-button" class=" btn btn-primary" />
                <button type="button" class="btn cls btn-secondary " id="close-login" data-dismiss="modal">Close</button>
              </form>
            </div>
      
          </div>
        </div>
      </div>

	
</body>
</html>
