<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>La Livret</title>
    <link href="images/book.ico" rel="icon" type="image/x-icon" />

    <meta charset="utf-8">
   	<base href="/LaLivret/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffcf698e97.js" crossorigin="anonymous"></script>



     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>




 <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/location.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>  




    <link rel="stylesheet" href="css/style.css"></script>


  </head>
  <body>


      <nav  id = "navbar-top"class="navbar navbar-expand-lg navbar-light navbar-custom ">
        <a class="navbar-brand" href="/LaLivret/">La Livret</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
      
          </ul>

          <ul class="navbar-nav ml-auto">

            <li  th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Users/CurrentUserDetails" id="user-icon"><i class="fas fa-user"></i></a>
            </li>

            <li th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Cart" id="cart-icon"><i class="fas fa-shopping-cart"></i></a>
            </li>
	
			<li th:if="${session.currentUser != null}" class="nav-item">
              <a th:text="#{books.logout}" class="nav-link login"  href="/LaLivret/Users/Logout">Logout</a>
            </li>

            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.login}"  class="nav-link login" id="login">Login</a>

            </li>
            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.register}" class="nav-link register" href="/LaLivret/Users/Register" id="register">Register</a>
            </li>
            
            <li>
            
            	<div style="margin-top:10px;">
		
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
            </li>

          </ul>
        </div>
      </nav>

      <div class="header-container">

      <div class="container img-container">
      <img src="images/books-edited.jpg" id="book-picture">

      <div class="container img-text-container">
        <p th:text="#{books.headTitle}">Stay safe, stay home, shop online!</p>




        <div class="container img-button-container">
        <button type="button" class="btn btn-lg btn-dark btn-custom btn-right" ><a th:text="#{books.viewBooks}" href="#books-page" style="text-decoration: none; color: inherit;">View books</a></button>
        <button th:if="${session.currentUser == null}" type="button" th:text="#{books.login}" class="btn btn-lg btn-dark btn-custom btn-right" id="login-secondary">Login</button>
      </div>
      </div>

    </div>
  </div>


  </div>

<div class="content-container">
    <div class="search">
      <h4 th:text="#{books.searchLibrary}">Search our library: </h4>
      <form method="get">
      <table>      
	<tr>
      
      <td>  <p th:text="#{books.searchByTitle}" class="inline">search by book title:</p> </td>
     <td>   <input type="search" name="title" class="searchTitle" th:value="${param.title}?: null"> </td>  </tr>
    <tr> <td>   <p th:text="#{books.searchByAuthor}" class="inline">search by author:</p> </td>
  <td>      <input type="search" name="author" class="searchTitle searchAuthor" th:value="${param.author}?: null" >  </td> </tr>
  <tr> <td>      <p th:text="#{books.searchByLanguage}" class="inline">search by language:</p> </td>
  <td>   <input type="search" name="language" class="searchTitle" th:value="${param.language}?: null">  </td> </tr>
   <tr> <td>    <p th:text="#{books.searchByPriceRange}" class="inline">search by price range</p> </td>
   <td>     <p th:text="#{books.from}" class="inline">from:</p> 
       <input type="number" min="0" class="priceBoxes" th:value="${param.minPrice}?: '0'" name="minPrice"/>  
        <p th:text="#{books.to}" class="inline">to:</p> 
        <input type="number" min="0" class="priceBoxes" th:value="${param.maxPrice}?: '9999999'" name="maxPrice"/> </td> </tr>
    <tr> <td>    <p th:text="#{books.searchByGenre}" class="inline">search by genre:</p> </td>
    <td>   <select name="genreId" class="genreCb" >
       <option th:text="#{books.chooseGenre}" value="">choose a genre</option>
           <option value="" th:each="itGenre: ${genres}" th:value="${itGenre.ID}" th:text="${itGenre.name}" th:selected="${#strings.equals(itGenre.ID, param.genreId)}">choose genre</option>
        </select> </td> </tr> 
      
       <tr th:if="${session.currentUser != null and session.currentUser.role == 'ADMINISTRATOR'}"> <td>
		<p th:text="#{books.searchByISBN}" class="inline">search by ISBN:</p> </td>
     <td>   <input type="number" min="0" name="ISBN" class="searchTitle" th:value="${param.ISBN}?: null">  <br>
        </td> </tr>
        </table>
        
      
     
      <input type="submit" th:value="#{books.searchBtn}" class="searchBooks btn btn-danger"/>
      </form>
    </div>
    
    <div class="sort">
    	<h4 th:text="#{books.sortBooks}" class="inline" style="margin-left:20px;">Sort books by: </h4> 
    	<form method="get">
    	<select name="sortCriteria" class="genreCb" style="margin-left:20px;" >

           <option th:text="#{books.sortByRating}" value="rating" >rating</option>
           <option th:text="#{books.sortByAuthor}" value="author" >author</option>
           <option th:text="#{books.sortByPrice}" value="price" >price</option>
		   <option th:text="#{books.sortByLanguage}" value="language" >language</option>  
        </select> 
        <select name="ascDesc" class="genreCb" style="margin-left:20px;">

           <option th:text="#{books.ascending}" value="asc" >ascending</option>
           <option th:text="#{books.descending}" value="desc" >descending</option> 
        </select>  <br>
        <input type="submit"  th:value="#{books.sortBtn}" class="btn btn-danger" style="margin-top:20px; margin-right:0px; float:right;"/>
        </form>
        
        

        
 <div style="position:absolute; margin-top:70px; margin-left:240px;">
         
          
          <form method="post" action="LoyaltyCard/Request" th:if="${session.currentUser != null and session.currentUser.role == 'CUSTOMER'}">
          <input type="hidden" name="username" th:value="${session.currentUser.username}">
          <input type="submit" class="btn btn-danger" style="position:absolute; right:0px;" th:value="#{books.reqLoyalty}">
          </form>
          
       <table style="position:absolute; right:0px; width:300px;">
          <tr> <td>
        <button th:if="${session.currentUser != null and session.currentUser.role == 'ADMINISTRATOR'}" class="btn btn-danger"  ><a th:text="#{books.goToAllUsers}" href="/LaLivret/Users/AllUsers">Go to all users</a></button> </td>
    <td>    <button th:if="${session.currentUser != null and session.currentUser.role == 'ADMINISTRATOR'}" class="btn btn-danger" > <a th:text="#{books.goToReports}" href="/LaLivret/Purchases/Reports">Go to reports</a> </button> </td> </tr>
   	<tr> <td>	<button th:if="${session.currentUser != null and session.currentUser.role == 'ADMINISTRATOR'}" class="btn btn-danger" ><a th:text="#{books.manageComments}" href="/LaLivret/Comments/PendingComments">Manage comments</a></button> </td>
   <td>		<button th:if="${session.currentUser != null and session.currentUser.role == 'ADMINISTRATOR'}" class="btn btn-danger" ><a th:text="#{books.addSpecialDates}" href="/LaLivret/SpecialDate">Add special dates</a></button> </td> </tr>
    <tr> <td>  <button th:if="${session.currentUser != null and session.currentUser.role == 'ADMINISTRATOR'}" class="btn btn-danger"><a th:text="#{books.addNewBook}" href="/LaLivret/AddBook">Add new book</a></button> </td>
    <td>  <button th:if="${session.currentUser != null and session.currentUser.role == 'ADMINISTRATOR'}" class="btn btn-danger"><a th:text="#{books.cardRequests}" href="/LaLivret/LoyaltyCard/AllRequests">Loyalty card requests</a></button> </td> </tr>
   </table>   
    </div>
    </div>
    
    
    
  </div> 



  <div class="content-container" id="example">
    <div id="books-page"><h1 th:text="#{books.ourLibrary}" id="library-heading"> Our library</h1></div>
    <div class=" flex-container">
  <div  class="flex-item product-card" id="product-card" th:each="itBook, status: ${books}" th:if="${itBook.booksLeft != 0}">


    <div class="lib-panel">
      <div class="row box-shadow">
          <div class="book-img-container" id="book-img-container">
              <img th:src="@{${itBook.picturePath}}" class="lib-img-show" id="picture">
          </div>
          <div class="col-md-6 col-lg-6" style="position:relative;">
              <div class="lib-row lib-header">
              <a id="bookname" th:href="'/LaLivret/BookDetails?id=' + ${itBook.ID}" th:text="${itBook.title}"></a>
                  <p style="font-size:15px;" id="bookAuthor" th:text="${itBook.author}"></p>
                  <div class="lib-header-seperator"></div>
              </div>
              <div class="lib-row lib-desc ">
                <h2 id="price"  th:text="${itBook.price}"></h2>
              
              
               <label th:if="${itBook.rating == 0}" th:text="#{books.notRated}">not yet rated  </label>
                  
                <div class="stars-rated-container" th:if="${itBook.rating != 0}">
                  <div class="star-rated-widget">


                    <input type="radio" name="rated" id="rated-1">
                    <label for="rated-1" class="fas fa-star" id ="rated1star" th:if="${itBook.rating > 0}"></label>
                    <input type="radio" name="rated" id="rated-2">
                    <label for="rated-2" class="fas fa-star" id ="rated2star" th:if="${itBook.rating > 1}"></label>
                    <input type="radio" name="rated" id="rated-3">
                    <label for="rated-3" class="fas fa-star" id ="rated3star" th:if="${itBook.rating > 2}"></label>
                    <input type="radio" name="rated" id="rated-4">  
                    <label for="rated-4" class="fas fa-star" id ="rated4star" th:if="${itBook.rating > 3}"></label>
                    <input type="radio" name="rated" id="rated-5">
                    <label for="rated-5" class="fas fa-star" id ="rated5star" th:if="${itBook.rating > 4}"></label>

                   
                    
               
                  </div>
                </div>
    			
    			<form th:if="${session.currentUser != null and session.currentUser.role == 'CUSTOMER'}" method="post" action="/LaLivret/AddToWishlist">
    			
    			<input type="hidden" name="ID" th:value="${itBook.ID}">
    			<input type="submit" class="btn btn-outline-danger  btn-wishlist btn-sm" th:value="#{books.addToWishlist}">
    			
    			
    			</form>
             
                <form th:if="${session.currentUser != null and session.currentUser.role == 'CUSTOMER'}" method="post" action="/LaLivret/AddToCart">
              		   <input type="hidden" name="ID" th:value="${itBook.ID}">
				       
				       <input type="number" min="1" value="1" th:max="${itBook.booksLeft}"  name="amount"  style="position:absolute; bottom:18px; left:15px;"> 
				       <input type="submit"  class="btn btn-danger btn-test btn-sm "  th:value="#{books.addToCart}">
				 </form>
         
				
				    </div>
				  </div>
				</div>
                
                
                
                </form>
                
                
              
           
              </div>
          </div>
      </div>
    </div>
   
    </div>
  </div>

</div>



<footer>
  <p>© 2020 La Livret </p>

</footer>




<div  th:classappend="${loginError != null} ? display"class="modal" tabindex="-1" role="dialog" id="loginModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
 
        <form action="Users/Login" method="post" id="loginForm">
        <p th:if="${loginError != null}" th:text="${loginError}"> Error</p>

			<table>
	<tr>
	<td>

           <p style=" all:none; display:inline;" th:text="#{books.loginUsername}"> Username:</p> </td> &nbsp; <td> <input type="text" id="txtUsername"  th:placeholder="#{books.enterUsername}" name="username"/> 
            
            
     </td>
     
     </tr>       
     <tr>
     <td>
           <p style=" all:none; display:inline;" th:text="#{books.loginPassword}"> Password: </p> </td>&nbsp; <td> <input id="txtPassword" type="password" name="password" th:placeholder="#{books.enterPassword}"/> </td> 
           </table>
            <input type="submit" th:value="#{books.logIn}" id="login-button" class=" btn btn-primary" />
            <button type="button" class="btn cls btn-secondary " th:text="#{books.Close}" id="close-login" data-dismiss="modal">Close</button>
          </form>


      </div>
    </div>
  </div>
</div>


<div th:classappend="${registerSuccess != null} ? display" class="modal" id="registerSuccess">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 th:text="#{books.successRegistry}" class="modal-title">Success</h4>

      </div>


      <div class="modal-body">
       <p style="all:none; display:inline;" th:text="#{books.successRegistryText}">  
        You have successfully registered to our bookstore!
        </p>
      </div>

  
      <div class="modal-footer">
        <button type="button" id="regSuccess" class="btn btn-danger btn" data-dismiss="modal" th:text="#{books.successRegistryResponse}" >Yay!</button>
      </div>

    </div>
  </div>
</div>



<div th:classappend="${hasCard != null} ? display" class="modal" id="errorCard">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 th:text="#{books.errorLng}" class="modal-title">Error</h4>

      </div>


      <div class="modal-body">
      <p th:text="#{books.alreadyHave}"> You already have loyalty card on this account! </p>
      </div>


      <div class="modal-footer">
        <button th:text="#{books.okMyBad}" type="button" id="errorCardDismiss" class="btn btn-danger btn" data-dismiss="modal">Okay, my bad!</button>
      </div>

    </div>
  </div>
</div>

<div th:classappend="${successCard != null} ? display" class="modal" id="successCard">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 th:text="#{books.successGetCard}" class="modal-title">Success</h4>

      </div>


      <div class="modal-body">
     <p th:text="#{books.successGetCardText}">  You have successfully requested for a loyalty card! Before you start using it, you have to wait for administrator to approve it. </p>
      </div>


      <div class="modal-footer">
        <button type="button" id="successCardDismiss" class="btn btn-danger btn" data-dismiss="modal">Ok</button>
      </div>

    </div>
  </div>
</div>


<div th:classappend="${pending != null} ? display" class="modal" id="pending">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 th:text="#{books.pendingReq}" class="modal-title">Pending</h4>

      </div>


      <div class="modal-body">
      <p th:text="#{books.pendingReqText}"> You have already requested a loyalty card. It is currently waiting for administrator approval. </p>
      </div>


      <div class="modal-footer">
        <button type="button" id="pendingDismiss" class="btn btn-danger btn" data-dismiss="modal">Ok</button>
      </div>

    </div>
  </div>
</div>




        <script src="js/script.js"></script> 
         


  </body>
</html>