<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base href="/LaLivret/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Livret</title>
    <link href="images/book.ico" rel="icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffcf698e97.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css"></script>
    <link rel="stylesheet" href="css/book-details-style.css"></script>
   
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/location.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>  
   

</head>
<body>

    <nav  id = "navbar-top"class="navbar navbar-expand-lg navbar-light navbar-custom ">
        <a class="navbar-brand" id = "logo" href="/LaLivret/">La Livret</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
      

          </ul>

          <ul class="navbar-nav ml-auto">

            <li  th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Users/CurrentUserDetails" id="user-icon"><i class="fas fa-user"></i></a>
            </li>

            <li th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Cart" id="cart-icon"><i class="fas fa-shopping-cart"></i></a>
            </li>
	
			<li th:if="${session.currentUser != null}" class="nav-item">
              <a th:text="#{books.logout}" class="nav-link login"  href="/LaLivret/Users/Logout">Logout</a>
            </li>

            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.login}" class="nav-link login" href="#" id="login">Login</a>

            </li>
            <li th:if="${session.currentUser == null}" class="nav-item">
              <a  th:text="#{books.register}" class="nav-link register" href="/LaLivret/Users/Register" id="register">Register</a>
            </li>
			
			 <li>
            
            	<div style="margin-top:10px;">
		
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
            </li>


          </ul>

        </div>
      </nav>

      <div class="details-container">

      <div  id="currentBook">
        <div id="book-img-container">
          <img th:src="@{${bookDetails.picturePath}}" id="book-img-details">
        </div>

        <div id="about-book-container">
          <h1 style="margin:30px 10px 0 0" th:text="${bookDetails.title}">
            {{ name }}
          </h1>
          <p style="margin-left:10px; font-size: larger;" th:text="${bookDetails.author}">by {{ author }}</p>


          <div>

          <table id="book-details-table">
            <tr>
              <td>ISBN: </td>
              <td th:text="${bookDetails.ISBN}">{{ isbn }}</td>
            </tr>
            <tr>
              <td th:text="#{detailsBook.publisher}">Publisher:</td>
              <td th:text="${bookDetails.publisher}">{{ publisher }}</td>
            </tr>
            <tr>
              <td th:text="#{detailsBook.published}">Published: </td>
              <td th:text="${bookDetails.publishYear}">{{ publishYear }}</td>
            </tr>
            <tr>
              <td th:text="#{detailsBook.pages}">Pages: </td>
              <td th:text="${bookDetails.numberOfPages}">{{ pages }}</td>
            </tr>
            <tr>
              <td th:text="#{detailsBook.cover}">Cover: </td>
              <td th:text="${bookDetails.cover}">{{ cover }}</td>
            </tr>
            <tr>
              <td th:text="#{detailsBook.writing}">Writing: </td>
              <td th:text="${bookDetails.writing}"> {{ writing }} </td>
            </tr>
            <tr>
              <td th:text="#{detailsBook.language}">Language: </td>
              <td th:text="${bookDetails.language}">{{ language }}</td>
            </tr>
            <tr th:if="${session.currentUser != null and session.currentUser.role == 'ADMINISTRATOR'}">
              <td th:text="#{detailsBook.booksLeft}">Number of books left: </td>
              <td th:text="${bookDetails.booksLeft}">{{ booksleft }}</td>
            </tr>
            <tr>
            <td th:text="#{detailsBook.genre}">Genre: </td>
            	<td>
             		<th:block th:each="itGenre: ${bookDetails.genres}">
           
						<p style="display:inline-block; margin-bottom:0;">	<span th:text="${itGenre.name}"> </span>, </p>
						</th:block>
				</td>
            </tr>
            
            <tr>
              <td th:text="#{detailsBook.rating}">Rating: </td>
              <td th:text="#{detailsBook.notYetRated}" th:if="${bookDetails.rating == 0}">not yet rated </td>
              
              <td th:if="${bookDetails.rating != 0}">
              
                <div class="stars-rated-container">
                  <div class="star-rated-widget">
					
		
                    <input type="radio" name="rated" id="rated-1">
                    <label for="rated-1" class="fas fa-star" id ="rated1star" th:if="${bookDetails.rating > 0}"></label>
                    <input type="radio" name="rated" id="rated-2">
                    <label for="rated-2" class="fas fa-star" id ="rated2star" th:if="${bookDetails.rating > 1}"></label>
                    <input type="radio" name="rated" id="rated-3">
                    <label for="rated-3" class="fas fa-star" id ="rated3star" th:if="${bookDetails.rating > 2}"></label>
                    <input type="radio" name="rated" id="rated-4">  
                    <label for="rated-4" class="fas fa-star" id ="rated4star" th:if="${bookDetails.rating > 3}"></label>
                    <input type="radio" name="rated" id="rated-5">
                    <label for="rated-5" class="fas fa-star" id ="rated5star" th:if="${bookDetails.rating > 4}"></label>

                   
                    
               
                  </div>
              </td>

            </tr>

          </table>
        </div>

        <div >

        </div>

        
        </div>


        <div>

        

        

       <p id="p-about" th:text="${bookDetails.description}">
        {{ description }}
       </p>

        </div>
        
        <div id="div-for-options">
  <table id="options-table">
    <tr>
      
      <td th:if="${session.currentUser != null and session.currentUser.role == 'CUSTOMER'}" >
    
        
        <form th:if="${session.currentUser != null}" method="post" action="/LaLivret/AddToCart">
              		   <input type="hidden" name="ID" th:value="${bookDetails.ID}">   
              		<p style="all:none; display:inline;" th:text="#{detailsBook.chooseAmount}">   choose amount: </p> 
				       <input type="number" min="1" value="1" th:max="${bookDetails.booksLeft}"  name="amount"> 
				       <input type="submit"  class="btn btn-sm btn-danger button-shape" id= "add-to-cart"  th:value="#{detailsBook.addToCart}">
				 </form>
        
      </td>
      <td th:if="${session.currentUser != null and session.currentUser.role == 'CUSTOMER'}" >
        <button class="btn btn-sm btn-danger button-shape " th:text="#{books.addToWishlist}" id="add-to-wishlist">Add to wishlist</button>
      </td>
      
    </tr>
    <tr th:if="${session.currentUser != null and session.currentUser.role == 'ADMINISTRATOR'}">
      <td>
      <form  method="get" action="/LaLivret/EditBook">
      	<input type="hidden" name="ID" th:value="${bookDetails.ID}"/>
      	<input type="submit" class="btn btn-sm btn-danger button-shape" th:value="#{detailsBook.changeBookInfo}" id="change-book-info">
       </form>
       
      </td>
      <td>
        <button th:if="${session.currentUser != null and session.currentUser.role == 'ADMINISTRATOR'}" class="btn btn-sm btn-danger button-shape" th:text="#{detailsBook.delete}" id="delete">Delete</button>
      </td>
    </tr>
    <tr th:if="${session.currentUser != null and session.currentUser.role == 'ADMINISTRATOR'}" >
    	<form  method="post" action="/LaLivret/OrderBooks" >
    	<p th:text="#{detailsBook.orderBooks}" style="margin-left:20px;">order books:</p>
    	<input type="number" name="amountOrder" style="margin-left:10px;"> 
      	<input type="hidden" name="ID" th:value="${bookDetails.ID}"/>
      	<input type="submit" class="btn btn-sm btn-danger button-shape" th:value="#{detailsBook.OrderBtn}" id="change-book-info" style="margin-left:10px;">
       </form>
    </tr>
  </table>
</div>
     
     
     
<div id="comment-div">

<h3 style="padding-top:15px; margin-bottom:20px;" th:if="${booksComments != null}" th:text="#{detailsBook.bookReviews}">Book Reviews: </h3>

<div id="all-comments" th:if="${booksComments != null}">

<table class="table table-striped table-warning">
<div id="comment" th:each="comment, status: ${booksComments}">
<tr> <td>
<h5 style="display:inline;" th:text="${comment.user.username}"> </h5> <h5 th:text="#{detailsBook.ratedThisBookWith}"  style="display:inline;"> </h5>
<h5 style="display:inline;" th:text="${' ' + comment.rating + ' '}">></h5> <h5 th:text="#{detailsBook.stars}" style="display:inline;" ></h5>
<p th:text="${comment.description}"> </p>
</td>
</tr>

</div>
</table>

</div>


<div th:if="${canComment != null}" id="add-comment">
<h6 th:text="#{detailsBook.addComment}" th:object="${comment}">Rate this book and and add a comment: </h6>
<form method="post" action="Comments/AddComment">
  <p style="all:none; display:inline;" th:text="#{detailsBook.addRating}" > Rating: </p> &nbsp;<input type="number" value="5" min="1" max="5" name="rating"> <br> <br>
 <p style="all:none; display:inline;" th:text="#{detailsBook.addDesc}"> Comment: </p>
<input type="text" id="comment-desc" name="description">
<p th:if="${errors != null}" th:text="${errors}"> </p>

<input type="hidden" name="bookID" th:value="${bookDetails.ID}">
<input type="submit" th:value="#{detailsBook.addCommentBtn}" class="btn btn-danger" style="float:right; margin:20px; margin-right:0;">
</form>

</div>

</div>


     
     
     </body>
     </html>
        
    