<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Livret</title>
    <base href="/LaLivret/">
    <link href="images/book.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffcf698e97.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>



    <link rel="stylesheet" href="css/style.css"></script>

 <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/location.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>  

</head>
<body>
    <nav  id = "navbar-top"class="navbar navbar-expand-lg navbar-light navbar-custom ">
        <a class="navbar-brand" href="/LaLivret/">La Livret</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
        


          </ul>

          <ul class="navbar-nav ml-auto">

            <li  th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Users/CurrentUserDetails" id="user-icon"><i class="fas fa-user"></i></a>
            </li>

            <li th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Cart" id="cart-icon"><i class="fas fa-shopping-cart"></i></a>
            </li>
	
			<li th:if="${session.currentUser != null}" class="nav-item">
              <a th:text="#{books.logout}" class="nav-link login"  href="/LaLivret/Users/Logout">Logout</a>
            </li>

            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.login}" class="nav-link login" href="#" id="login">Login</a>

            </li>
            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.register}"  class="nav-link register" href="/LaLivret/Users/Register" id="register">Register</a>
            </li>
			
			   <li>
            
            	<div style="margin-top:10px;">
		
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
            </li>


          </ul>

        </div>
      </nav>

     
      </div>
      
     
    
        <div  id="cartBook">
          <div><h3 th:if="${session.totalPrice != null and session.totalPrice != 0}" id="library-heading" th:text="#{cartlg.cart}"  style="size:0.5rem; margin-top:30px;"> Your shoping cart: </h3></div>
 
          <div th:if="${session.cart != null}"> 
           <div th:if="${not #lists.isEmpty(session.cart.books)}"> 
          <div class=" flex-container">
        
        <div  class="flex-item product-card" id="product-card"  th:each="itBook, status: ${session.cart.books}">
      
      
          <div class="lib-panel">
            <div class="row box-shadow">
                <div class="book-img-container" id="book-img-container" >
                    <img th:src="@{${itBook.bookId.picturePath}}" class="lib-img-show" id="picture">
                </div>
                <div class="col-md-6 col-lg-6" style="position:relative;">
                    <div class="lib-row lib-header">
                       <a id="bookname" th:href="'/LaLivret/BookDetails?id=' + ${itBook.bookId.ID}" th:text="${itBook.bookId.title}"></a>
                        <p style="font-size:15px;" id="bookAuthor" th:text="${itBook.bookId.author}"> by  {{ book.autor }}</p>
                        <div class="lib-header-seperator" ></div>
                    </div>
                    <div class="lib-row lib-desc ">
                      <h2 id="price" th:text="${itBook.bookId.price}">{{ book.cena }} rsd</h2>
                      <h5 id="price" th:text="${'number of books: ' +itBook.numberOfBooks}">{{ book.cena }} rsd</h5>
                       <label th:text="#{books.notRated}" th:if="${itBook.bookId.rating == 0}">not yet rated  </label>
                        
                      <div class="stars-rated-container" th:if="${itBook.bookId.rating != 0}">
                        <div class="star-rated-widget">
      
      
                          <input type="radio" name="rated" id="rated-1">
                          <label for="rated-1" class="fas fa-star" id ="rated1star" th:if="${itBook.bookId.rating > 0}"></label>
                          <input type="radio" name="rated" id="rated-2">
                          <label for="rated-2" class="fas fa-star" id ="rated2star" th:if="${itBook.bookId.rating > 1}"></label>
                          <input type="radio" name="rated" id="rated-3">
                          <label for="rated-3" class="fas fa-star" id ="rated3star" th:if="${itBook.bookId.rating > 2}"></label>
                          <input type="radio" name="rated" id="rated-4">  
                          <label for="rated-4" class="fas fa-star" id ="rated4star" th:if="${itBook.bookId.rating > 3}"></label>
                          <input type="radio" name="rated" id="rated-5">
                          <label for="rated-5" class="fas fa-star" id ="rated5star" th:if="${itBook.bookId.rating > 4}"></label>
      
                         
                          
                     
                        </div>
                      </div>
       
                          
                      <form method="post" action="/LaLivret/RemoveFromCart">
                      <input type="hidden" th:value="${itBook.ID}" name="boughtBookID">
                      <input type="submit" class="btn btn-outline-danger  btn-wishlist btn-sm" th:value="#{cartlg.remove}" >
                
                      </form>
                      <button type="button" class="btn btn-danger  btn-test btn-sm " id="add-to-cart" ><a th:href="'/LaLivret/BookDetails?id=' + ${itBook.bookId.ID}"  th:text="#{cartlg.readMore}">Read more </a></button> 
                    
                 
                    </div>
                </div>
            </div>
          </div>
       
            
                     </div>
                      </div>  
                     </div> 
      
         </div> 
      </div>



      
</div>      
<h3 th:if="${session.totalPrice != null and session.totalPrice != 0}" style="margin-left:20px;display:inline;"  th:text="#{cartlg.totalPrice}"></h3>
<h3 th:if="${session.totalPrice != null and session.totalPrice != 0}" id="total-price" th:text="${' ' + session.totalPrice}" style="margin-left:20px; display:inline;">Total price</h3>
<h3 th:if="${session.totalPrice == null or session.totalPrice == 0}" style="margin-left:20px;"  th:text="#{cartlg.empty}">Your shopping cart is currently empty.</h3>

<form th:if="${session.totalPrice != null and session.totalPrice != 0}" method="post" action="/LaLivret/Buy">
<div style="margin-left:30px; margin-top:30px;">
<p th:if="${specialDate == null && cardPoints != null}" th:text="#{cartlg.usePoints}"> Use your points(1 point = 5% discount): </p>
<input th:if="${specialDate == null && cardPoints != null}" type="number" name="points" th:min="0" th:max="${cardPoints > 10} ? 10 : ${cardPoints}">
</div>
<input type="submit"  class="btn btn-danger btn-lg btn-buy-books" th:value="#{cartlg.buy}">
</form>

<div style="margin-left:30px; margin-top:30px;">
<p th:if="${specialDate != null}" style="display:inline;" th:text="#{cartlg.text1}">  </p>

<p th:if="${specialDate != null}" style="display:inline;"  th:text="${' ' + specialDate.discount*100}">

<p th:if="${specialDate != null}" style="display:inline;" th:text="#{cartlg.text2}"> </p>
</div>


<div class="modal" tabindex="-1" role="dialog" id="loginModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="https://la-livret-default-rtdb.firebaseio.com/korisnici.json" method="get" id="loginForm">

            Username: &nbsp; <input type="text" id="txtUsername"  placeholder="Enter Username" name="username"/> <br/>
            <br/>
            Password:&nbsp; <input id="txtPassword" type="password" name="password" placeholder="Enter Password" style="margin-left:9px"/> <br/>
            <input type="submit" value="Log in" id="login-button" class=" btn btn-primary" />
            <button type="button" class="btn cls btn-secondary " id="close-login" data-dismiss="modal">Close</button>
          </form>


      </div>
      
    </div>
  </div>
</div>




<script src="scripts/script.js"></script>
<script src="scripts/users.js"></script>
<script src="scripts/register.js"></script>
  <script src="scripts/shopping-cart.js"></script> 


</body>
</html>