<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Livret</title>
    <base href="/LaLivret/">
    <link href="images/book.ico" rel="icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffcf698e97.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css"></script>
    <link rel="stylesheet" href="css/all-users-style.css"></script>
    
     <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/location.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>  

</head>
<body>

    <nav  id = "navbar-top"class="navbar navbar-expand-lg navbar-light navbar-custom ">
        <a class="navbar-brand" id = "logo" href="/LaLivret/">La Livret</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
         


          </ul>

          <ul class="navbar-nav ml-auto">

             <li  th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Users/CurrentUserDetails" id="user-icon"><i class="fas fa-user"></i></a>
            </li>

            <li th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Cart" id="cart-icon"><i class="fas fa-shopping-cart"></i></a>
            </li>
	
			<li th:if="${session.currentUser != null}" class="nav-item">
              <a th:text="#{books.logout}" class="nav-link login"  href="/LaLivret/Users/Logout">Logout</a>
            </li>

            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.login}" class="nav-link login" href="#" id="login">Login</a>

            </li>
            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.register}" class="nav-link register" href="/LaLivret/Users/Register" id="register">Register</a>
            </li>

		<li>
            
            	<div style="margin-top:10px;">
		
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
            </li>


          </ul>

        </div>
      </nav>

      <div id="all-users-div">
        <h2 style= "display:inline-block;" th:text="#{comm.pending}">Pending comments</h2>

       

          <table class="table table-striped table-hover " id="users-table">
            <thead >
              <tr class="bg-info">
                <th scope="col">#</th>
                <th scope="col" th:text="#{comm.user}">User</th>
                <th scope="col" th:text="#{comm.rating}">Rating</th>
                <th scope="col" th:text="#{comm.comment}">Comment</th>
                <th scope="col" th:text="#{comm.postDelete}">Post/Delete</th>
              </tr>
            </thead>
            <tbody id="usersVue">

              <tr th:each="itComment, status: ${comments}">
                <th scope="row"></th>
                <td th:text="${itComment.user.username}"></td>
                <td th:text="${itComment.rating}"></td>
                <td th:text="${itComment.description}"></td>
                <td>
                <form method="post" action="/LaLivret/Comments/ApproveComment" style="display:inline;">
                <input type="hidden" name="commentID" th:value="${itComment.ID}">
                <input type="submit" class="btn btn-danger btn-sm" th:value="#{comm.post}">
                </form>
                
                 <form method="post" action="/LaLivret/Comments/DeleteComment" style="display:inline;">
                <input type="hidden" name="commentID" th:value="${itComment.ID}">
                <input type="submit" class="btn btn-outline-danger btn-sm" th:value="#{comm.delete}">
                </form>
                
                </td>
              </tr>


          </table>


      </div>


     

</body>
</html>
