<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Livret</title>
    <base href="/LaLivret/">
    
    <link href="images/book.ico" rel="icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffcf698e97.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="css/style.css"></script>

    <link rel="stylesheet" href="css/user-details-style.css"></script>
 
<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/location.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>  

</head>
<body>
    <nav  id = "navbar-top"class="navbar navbar-expand-lg navbar-light navbar-custom ">
        <a class="navbar-brand" id = "logo" href="/LaLivret/">La Livret</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
       


          </ul>

          <ul class="navbar-nav ml-auto">

            <li  th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Users/CurrentUserDetails" id="user-icon"><i class="fas fa-user"></i></a>
            </li>

            <li th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Cart" id="cart-icon"><i class="fas fa-shopping-cart"></i></a>
            </li>
	
			<li th:if="${session.currentUser != null}" class="nav-item">
              <a  th:text="#{books.logout}" class="nav-link login"  href="/LaLivret/Users/Logout">Logout</a>
            </li>

            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.login}" class="nav-link login" href="#" id="login">Login</a>

            </li>
            <li th:if="${session.currentUser == null}" class="nav-item">
              <a   th:text="#{books.register}" class="nav-link register" href="/LaLivret/Users/Register" id="register">Register</a>
            </li>
            
            <li>
            
            	<div style="margin-top:10px;">
		
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
            </li>

          </ul>

        </div>
      </nav>

     
      <div id="user-container">

        <div id="user-picture-container">
            <img src="images/user-icon.png">
        </div>


   
        <div class="user-details-container" id="currentUser">
            <h1 style="margin-bottom:20px;" th:text="${session.currentUser.name + ' ' + session.currentUser.surname}">{{ name }}  {{ surname }}</h1>

            <table class="book-details-table" >
                <tr>
                  <td  th:text="#{current.username}">Username:  </td>
                  <td th:text="${session.currentUser.username}">{{ username }} </td>
                </tr>
                <tr>
                  <td th:text="#{current.email}">Email: </td>
                  <td th:text="${session.currentUser.email}">{{ email }}</td>
                </tr>
                <tr>
                  <td th:text="#{current.dateOfBirth}">Date of birth: </td>
                  <td th:text="${session.currentUser.dateOfBirth}">{{ dateOfBirth }}</td>
                </tr>
                <tr>
                  <td th:text="#{current.address}">Address: </td>
                  <td th:text="${session.currentUser.address}">{{ address }}</td>
                </tr>
                <tr>
                  <td th:text="#{current.contact}">Contact: </td>
                  <td th:text="${session.currentUser.contact}">{{ contact }}</td>
                </tr>
              </table>
            </div>

              <button  id="change-button" class="btn btn-secondary btn-danger" th:text="#{current.changeInfo}" >Change info</button>
              
            
</div>
</div>

<div class="container-fluid">


<div class="usersPurchases col-lg-6 col-md-12" style="display:inline-block; float:left;">
<h4 style="margin-bottom:30px; margin-top:100px;" th:text="#{current.allPurchases}">Purchases: </h4>
	<table class="table table-striped table-hover " id="users-table">
            <thead >
              <tr class="bg-info">
                <th scope="col">#</th>
                <th scope="col" th:text="#{current.totalPrice}">Total price</th>
                <th  scope="col" th:text="#{current.purchaseDate}">Date of purchase</th>
              </tr>
            </thead>
            <tbody id="usersVue">

              <tr th:each="itPurchase, status: ${purchases}">
                <th scope="row"></th>
                <td th:text="${itPurchase.price}"></td>
                <td><a th:text="${itPurchase.purchaseDate}" th:href="'/LaLivret/Purchases/PurchaseDetails?purchaseID=' + ${itPurchase.ID}"></a></td>
              </tr>


          </table>


      </div>


    <div class="usersWishlist col-lg-6 col-md-12" style="display:inline-block; float:right;">
    <h4 style="margin-bottom:30px; margin-top:100px;" th:text="#{current.userWishlist}">Books on your wishlist: </h4>
	<table class="table table-striped table-hover " id="users-table">
            <thead >
              <tr class="bg-info">
                <th scope="col" th:text="#{current.title}">Title</th>
                <th scope="col" th:text="#{current.publisher}">Publisher</th>
                <th scope="col" th:text="#{current.author}">Author</th>
                <th scope="col" th:text="#{current.price}">Price</th>
                 <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>

              <tr th:each="wishlistBook, status: ${wishlist}">
                <td><a th:text="${wishlistBook.title}" th:href="'/LaLivret/BookDetails?id=' + ${wishlistBook.ID}" ></a></td>
                <td th:text="${wishlistBook.publisher}"></td>
                <td th:text="${wishlistBook.author}"></td>
                <td th:text="${wishlistBook.price}"></td>
                <td> 
                <form method="post" action="/LaLivret/RemoveFromWishlist">
                <input type="hidden" th:value="${wishlistBook.ID}" name="ID">
                <input type="submit" class="btn btn-outline-danger" th:value="#{current.remove}">
                </form>
                </td>
              </tr>


          </table>
    
    </div>
      

</div>

  
</body>
</html>