<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Livret</title>
    <base href="/LaLivret/">
    
    <link href="images/book.ico" rel="icon" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffcf698e97.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="css/style.css"></script>

    <link rel="stylesheet" href="css/user-details-style.css"></script>
 
<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/location.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>  

</head>
<body>
    <nav  id = "navbar-top"class="navbar navbar-expand-lg navbar-light navbar-custom ">
        <a class="navbar-brand" id = "logo" href="/LaLivret/">La Livret</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
       


          </ul>

          <ul class="navbar-nav ml-auto">

            <li  th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Users/CurrentUserDetails" id="user-icon"><i class="fas fa-user"></i></a>
            </li>

            <li th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Cart" id="cart-icon"><i class="fas fa-shopping-cart"></i></a>
            </li>
	
			<li th:if="${session.currentUser != null}" class="nav-item">
              <a th:text="#{books.logout}" class="nav-link login"  href="/LaLivret/Users/Logout">Logout</a>
            </li>

            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.login}" class="nav-link login" href="#" id="login">Login</a>

            </li>
            <li th:if="${session.currentUser == null}" class="nav-item">
              <a  th:text="#{books.register}" class="nav-link register" href="/LaLivret/Users/Register" id="register">Register</a>
            </li>
		
		<li>
            
            	<div style="margin-top:10px;">
		
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
            </li>


          </ul>

        </div>
      </nav>

     
      <div id="user-container" >

       


   
        <div class="user-details-container" id="currentUser">
            <h1 style="margin-bottom:20px;"  th:text="#{purchaselg.details}">Purchase details</h1>

            <table class="book-details-table" >
                <tr>
                  <td th:text="#{purchaselg.user}">User:  </td>
                  <td th:text="${purchase.user.username}">{{ username }} </td>
                </tr>
                <tr>
                  <td th:text="#{purchaselg.date}">Purchase date: </td>
                  <td th:text="${purchase.purchaseDate}">{{ email }}</td>
                </tr>
                <tr>
                  <td th:text="#{purchaselg.number}">Number of books: </td>
                  <td th:text="${purchase.numberOfBooks}">{{ dateOfBirth }}</td>
                </tr>
                <tr>
                  <td th:text="#{purchaselg.price}">Total price: </td>
                  <td th:text="${purchase.price}">{{ address }}</td>
                </tr>
                <tr>
                <td th:text="#{purchaselg.boughtBooks}">Bought books: </td>
            	<td>
             		<th:block th:each="itBook: ${purchase.books}">
           
						<p style="display:inline-block; margin-bottom:0;">	<span th:text="${itBook.bookId.title}"> </span>, </p>
						</th:block>
				</td>
            </tr>
               
                
               
                
              </table>
            </div>

      </div>
      

      <div class="modal" tabindex="-1" role="dialog" id="loginModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form action="https://la-livret-default-rtdb.firebaseio.com/korisnici.json" method="get" id="loginForm">
      
                  Username: &nbsp; <input type="text" id="txtUsername"  placeholder="Enter Username" name="username"/> <br/>
                  <br/>
                  Password:&nbsp; <input id="txtPassword" type="password" name="password" placeholder="Enter Password" style="margin-left:9px"/> <br/>
                  <input type="submit" value="Log in" id="login-button" class=" btn btn-primary" />
                  <button type="button" class="btn cls btn-secondary " id="close-login" data-dismiss="modal">Close</button>
                </form>
      
      
            </div>
           
          </div>
        </div>
      </div>
      
      
      <div class="modal" tabindex="-1" role="dialog" id="registerModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Register</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="https://la-livret-default-rtdb.firebaseio.com/korisnici.json" method="get" id="registerForm">
      
                <table>
                  <tr>
                    <td>Username: </td>
                    <td><input id="txtUsernameR" placeholder="Enter username" type="text" name="username"/></td>
                  </tr>
                  <tr>
                    <td>Password: </td>
                    <td><input id="txtPasswordR" placeholder="Enter password" type="password" name="password"></td>
                  </tr>
      
                  <tr>
                    <td>Confirm password: </td>
                    <td><input id="txtConfirmPasswordR" placeholder="Confirm password" type="password" name="confirm"></td>
                  </tr>
                  <tr>
                    <td>Email: </td>
                    <td><input id="txtEmailR" type="text" placeholder="Enter your email" name="email"/></td>
                  </tr>
                  <tr>
                    <td>Name: </td>
                    <td><input id="txtNameR" type="text" placeholder="Enter your name" name="name"/></td>
                  </tr>
                  <tr>
                    <td>Surname: </td>
                    <td><input id="txtSurnameR" type="text" placeholder="Enter your surname" name="surname"/></td>
                  </tr>
                  <tr>
                    <td>Date of birth: </td>
                    <td><input style="width:100%;" id="txtBirthDateR" type="date"  name="birthDate"/> </td>
                  </tr>
                  <tr>
                    <td>Address: </td>
                    <td><input id="txtAddressR" type="text" placeholder="Enter your address" name="address"/></td>
                  </tr>
                  <tr>
                    <td>Contact: </td>
                    <td><input id="txtContactR" type="text" placeholder="Enter contact info" name="contact"/></td>
                  </tr>
                  
                  
      
                </table>
                <input type="submit" value="Register" id="login-button" class=" btn btn-primary" />
                <button type="button" class="btn cls btn-secondary " id="close-login" data-dismiss="modal">Close</button>
              </form>
            </div>
      
          </div>
        </div>
      </div>


<script src="js/getRole.js"></script>

  
</body>
</html>