<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Livret</title>
    <base href="/LaLivret/">
    <link href="images/book.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ffcf698e97.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css"></script>
    <link rel="stylesheet" href="css/change-style.css"></script>

<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/location.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>  

</head>
<body >
    <nav  id = "navbar-top"class="navbar navbar-expand-lg navbar-light navbar-custom ">
        <a class="navbar-brand" id = "logo" href="/LaLivret/">La Livret</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">


          </ul>

          <ul class="navbar-nav ml-auto">

             <li  th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Users/CurrentUserDetails" id="user-icon"><i class="fas fa-user"></i></a>
            </li>

            <li th:if="${session.currentUser != null}" class="nav-item">
              <a class="nav-link" href="/LaLivret/Cart" id="cart-icon"><i class="fas fa-shopping-cart"></i></a>
            </li>
	
			<li th:if="${session.currentUser != null}" class="nav-item">
              <a th:text="#{books.logout}" class="nav-link login"  href="/LaLivret/Users/Logout">Logout</a>
            </li>

            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.login}" class="nav-link login" href="#" id="login">Login</a>

            </li>
            <li th:if="${session.currentUser == null}" class="nav-item">
              <a th:text="#{books.register}" class="nav-link register" href="/LaLivret/Users/Register" id="register">Register</a>
            </li>
            
            <li>
            
            	<div style="margin-top:10px;">
		
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>
            </li>
            
          </ul>

        </div>
      </nav>

      <div class="info-container" th:if="${user != null}" style="height:100%; padding-bottom: 200px;" >
      <h2 style="margin-bottom:40px;" th:text="#{reg.register}">Register to LaLivret</h2>
		<form action="Users/Register" method="post" >

          <table class="change-book-table" id="userForChange">


			<tr>
			
              <td th:text="#{reg.username}">Username: </td>
              <td><input id="txtUsernameR" class="medium-input" type="text" name="username" th:field="*{user.username}"/></td>
           	  <td th:if="${#fields.hasErrors('user.username')}" th:errors="*{user.username}" class="error-td">Username Error</td>
            </tr>


            <tr>
              <td th:text="#{reg.password}">Password: </td>
              <td><input id="txtPassword" type="password" name="password" class="medium-input" :value="password" th:field="*{user.password}"/></td>
              <td th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}" class="error-td">Password Error</td>
            </tr>
            
            <tr>
              <td th:text="#{reg.confirm}">Confirm password: </td>
              <td><input id="txtPasswordConfirm" type="password" name="passwordConfirm" class="medium-input" :value="password" /></td>
              <td th:if="${passwordMismatch != null}" class="error-td">Passwords don't match</td>
            </tr>
            
            <tr>
              <td th:text="#{reg.email}">Email:</td>
              <td><input  id="txtEmail" type="text" name="email" class="medium-input" :value="email" th:field="*{user.email}"/></td>
              <td th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}" class="error-td">Email Error</td>
            </tr>
            <tr>
                <td th:text="#{reg.name}">Name: </td>
                <td><input id="txtName" type="text" name="name" class="medium-input" :value="name" th:field="*{user.name}"/></td>
              	<td th:if="${#fields.hasErrors('user.name')}" th:errors="*{user.name}" class="error-td">Name Error</td>
              </tr>
            <tr>
              <td th:text="#{reg.surname}">Surname: </td>
              <td><input id="txtSurname" type="text" name="surname" class="medium-input" :value="surname" th:field="*{user.surname}"/></td>
           	  <td th:if="${#fields.hasErrors('user.surname')}" th:errors="*{user.surname}" class="error-td">Surname Error</td>
            </tr>
            <tr>
                <td th:text="#{reg.date}">Date of birth: </td>
                <td><input id="txtBirthDate" type="date" name="dateOfBirth"  :value="dateOfBirth" th:field="*{user.dateOfBirth}"></input></td>
              	<td th:if="${#fields.hasErrors('user.dateOfBirth')}" th:errors="*{user.dateOfBirth}" class="error-td">Date of Birth Error</td>
              </tr>
              <tr>
                <td th:text="#{reg.address}">Address: </td>
                <td><input id="txtAddress" type="text" name="address" class="medium-input"  :value="address" th:field="*{user.address}"/></td>
             	<td th:if="${#fields.hasErrors('user.address')}" th:errors="*{user.address}" class="error-td">Address Error</td>
              </tr>
            <tr>
              <td th:text="#{reg.contact}">Contact: </td>
              <td><input id="txtContact" type="number" name="contact" class="medium-input" :value="contact" th:field="*{user.contact}"/></td>
              <td th:if="${#fields.hasErrors('user.contact')}" th:errors="*{user.contact}" class="error-td">Contact Error</td>
            </tr>

          </table>
          <input type="submit" th:value="#{reg.registerBtn}"  class=" btn  btn-danger" style="float:right; margin-top:30px; margin-right:350px;"/>
	</form>
      </div>
      
      
      
      <div class="info-container" th:if="${user == null}" style="height:100%; padding-bottom: 200px; padding-top:50px;" >
		<form action="Users/Register" method="post" >
		<h2 style="margin-bottom:40px;" th:text="#{reg.register}">Register to LaLivret</h2>
          <table class="change-book-table" id="userForChange">

			<tr>
			
              <td th:text="#{reg.username}">Username: </td>
              <td><input id="txtUsernameR" placeholder="Enter username" class="medium-input" type="text" name="username"/></td>
            </tr>


            <tr>
              <td th:text="#{reg.password}">Password: </td>
              <td><input id="txtPassword" type="password" name="password" class="medium-input" :value="password"/></td>
            </tr>
            
            <tr>
              <td th:text="#{reg.confirm}">Confirm password: </td>
              <td><input id="txtPasswordConfirm" type="password" name="passwordConfirm" class="medium-input" :value="password" /></td>
              <td th:if="${passwordMismatch != null}" class="error-td">Passwords don't match</td>
            </tr>
            
            <tr>
              <td th:text="#{reg.email}">Email:</td>
              <td><input  id="txtEmail" type="text" name="email" class="medium-input" :value="email"/></td>
            </tr>
            <tr>
                <td th:text="#{reg.name}">Name: </td>
                <td><input id="txtName" type="text" name="name" class="medium-input" :value="name" /></td>
              </tr>
            <tr>
              <td th:text="#{reg.surname}">Surname: </td>
              <td><input id="txtSurname" type="text" name="surname" class="medium-input" :value="surname"/></td>
            </tr>
            <tr>
                <td th:text="#{reg.date}">Date of birth: </td>
                <td><input id="txtBirthDate" type="date"name="dateOfBirth"  :value="dateOfBirth"></input></td>
              </tr>
              <tr>
                <td th:text="#{reg.address}">Address: </td>
                <td><input id="txtAddress" type="text" name="address" class="medium-input"  :value="address"/></td>
              </tr>
            <tr>
              <td th:text="#{reg.contact}">Contact: </td>
              <td><input id="txtContact" type="number" name="contact" class="medium-input" :value="contact"/></td>
            </tr>

          </table>
          <input type="submit" th:value="#{reg.registerBtn}"  class=" btn  btn-danger" style="float:right; margin-top:30px; margin-right:250px;"/>
	</form>
      </div>
      
      

      

      </footer>
      <div class="modal" tabindex="-1" role="dialog" id="loginModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- <p>Modal body text goes here.</p> -->
              <form action="https://la-livret-default-rtdb.firebaseio.com/korisnici.json" method="get" id="loginForm">
      
                  Username: &nbsp; <input type="text" id="txtUsername"  placeholder="Enter Username" name="username"/> <br/>
                  <br/>
                  Password:&nbsp; <input id="txtPassword" type="password" name="password" placeholder="Enter Password" style="margin-left:9px"/> <br/>
                  <input type="submit" value="Log in" id="login-button" class=" btn btn-primary" />
                  <button type="button" class="btn cls btn-secondary " id="close-login" data-dismiss="modal">Close</button>
                </form>
      
      
            </div>
         
          </div>
        </div>
      </div>
      
  
      </div>


    <script src="scripts/script.js"></script>
</body>
</html>